/*
 * Materialize colors
 */
/*
 * Util
 */
/*
 * Inputs
 */
/*
 * Inputs with icon prefix
 */
/*
 * Checkboxes
 */
/*
 * Radio
 */
/*
 * Switches
 */
/*
 * Ranges
 */
/*
 * Buttons
 */
/*
 * Dropdowns
 */
/*
 * Collections
 */
/*
 * Badges
 */
/*
 * Pagination
 */
/*
 * Preloader
 */
/*
 * Slider
 */
/*
 * Table of contents (PushPin, ScrollSpy)
 */
/*
 * Tabs
 */
/*
 * Datepicker
 */
/*
 * Main color
 */
/*
 * Alternative color
 */
/*
 * Defaults used by main and alternative
 */
/*
	 * Create default elements
	 */
/*
			 * Backgrounds
			 */
.main.lighten-5 {
  background-color: #fffde7; }

.btn.main.lighten-5:hover {
  background-color: white; }

.btn.main.lighten-5:focus {
  background-color: #fffffb; }

/*
			 * Texts
			 */
a.main-text.lighten-5 {
  color: #fffde7; }
  a.main-text.lighten-5:hover {
    color: #fffac3 !important; }

.main-text.lighten-5 {
  color: #fffde7; }

/*
			 * Dropdown
			 */
.main-dropdown.lighten-5 li > a,
.main-dropdown.lighten-5 li > span {
  color: #fffde7; }

/*
			 * Backgrounds
			 */
.main.lighten-4 {
  background-color: #fff9c4; }

.btn.main.lighten-4:hover {
  background-color: #fffcde; }

.btn.main.lighten-4:focus {
  background-color: #fffbd8; }

/*
			 * Texts
			 */
a.main-text.lighten-4 {
  color: #fff9c4; }
  a.main-text.lighten-4:hover {
    color: #fff5a0 !important; }

.main-text.lighten-4 {
  color: #fff9c4; }

/*
			 * Dropdown
			 */
.main-dropdown.lighten-4 li > a,
.main-dropdown.lighten-4 li > span {
  color: #fff9c4; }

/*
			 * Backgrounds
			 */
.main.lighten-3 {
  background-color: #fff59d; }

.btn.main.lighten-3:hover {
  background-color: #fff8b7; }

.btn.main.lighten-3:focus {
  background-color: #fff7b1; }

/*
			 * Texts
			 */
a.main-text.lighten-3 {
  color: #fff59d; }
  a.main-text.lighten-3:hover {
    color: #fff179 !important; }

.main-text.lighten-3 {
  color: #fff59d; }

/*
			 * Dropdown
			 */
.main-dropdown.lighten-3 li > a,
.main-dropdown.lighten-3 li > span {
  color: #fff59d; }

/*
			 * Backgrounds
			 */
.main.lighten-2 {
  background-color: #fff176; }

.btn.main.lighten-2:hover {
  background-color: #fff490; }

.btn.main.lighten-2:focus {
  background-color: #fff38a; }

/*
			 * Texts
			 */
a.main-text.lighten-2 {
  color: #fff176; }
  a.main-text.lighten-2:hover {
    color: #ffed52 !important; }

.main-text.lighten-2 {
  color: #fff176; }

/*
			 * Dropdown
			 */
.main-dropdown.lighten-2 li > a,
.main-dropdown.lighten-2 li > span {
  color: #fff176; }

/*
			 * Backgrounds
			 */
.main.lighten-1 {
  background-color: #ffee58; }

.btn.main.lighten-1:hover {
  background-color: #fff172; }

.btn.main.lighten-1:focus {
  background-color: #fff06c; }

/*
			 * Texts
			 */
a.main-text.lighten-1 {
  color: #ffee58; }
  a.main-text.lighten-1:hover {
    color: #ffea34 !important; }

.main-text.lighten-1 {
  color: #ffee58; }

/*
			 * Dropdown
			 */
.main-dropdown.lighten-1 li > a,
.main-dropdown.lighten-1 li > span {
  color: #ffee58; }

/*
			 * Backgrounds
			 */
.main {
  background-color: #ffeb3b; }

.btn.main:hover {
  background-color: #ffee55; }

.btn.main:focus {
  background-color: #ffed4f; }

/*
			 * Texts
			 */
a.main-text {
  color: #ffeb3b; }
  a.main-text:hover {
    color: #ffe717 !important; }

.main-text {
  color: #ffeb3b; }

/*
			 * Dropdown
			 */
.main-dropdown li > a,
.main-dropdown li > span {
  color: #ffeb3b; }

/*
			 * Waves
			 */
.waves-effect.waves-main .waves-ripple {
  background-color: rgba(255, 245, 161, 0.6); }

/*
			 * Backgrounds
			 */
.main.darken-1 {
  background-color: #fdd835; }

.btn.main.darken-1:hover {
  background-color: #fddd4e; }

.btn.main.darken-1:focus {
  background-color: #fddc49; }

/*
			 * Texts
			 */
a.main-text.darken-1 {
  color: #fdd835; }
  a.main-text.darken-1:hover {
    color: #fdd112 !important; }

.main-text.darken-1 {
  color: #fdd835; }

/*
			 * Dropdown
			 */
.main-dropdown.darken-1 li > a,
.main-dropdown.darken-1 li > span {
  color: #fdd835; }

/*
			 * Backgrounds
			 */
.main.darken-2 {
  background-color: #fbc02d; }

.btn.main.darken-2:hover {
  background-color: #fbc846; }

.btn.main.darken-2:focus {
  background-color: #fbc641; }

/*
			 * Texts
			 */
a.main-text.darken-2 {
  color: #fbc02d; }
  a.main-text.darken-2:hover {
    color: #fab50a !important; }

.main-text.darken-2 {
  color: #fbc02d; }

/*
			 * Dropdown
			 */
.main-dropdown.darken-2 li > a,
.main-dropdown.darken-2 li > span {
  color: #fbc02d; }

/*
			 * Backgrounds
			 */
.main.darken-3 {
  background-color: #f9a825; }

.btn.main.darken-3:hover {
  background-color: #fab23e; }

.btn.main.darken-3:focus {
  background-color: #fab039; }

/*
			 * Texts
			 */
a.main-text.darken-3 {
  color: #f9a825; }
  a.main-text.darken-3:hover {
    color: #f49907 !important; }

.main-text.darken-3 {
  color: #f9a825; }

/*
			 * Dropdown
			 */
.main-dropdown.darken-3 li > a,
.main-dropdown.darken-3 li > span {
  color: #f9a825; }

/*
			 * Backgrounds
			 */
.main.darken-4 {
  background-color: #f57f17; }

.btn.main.darken-4:hover {
  background-color: #f68c2f; }

.btn.main.darken-4:focus {
  background-color: #f68a2b; }

/*
			 * Texts
			 */
a.main-text.darken-4 {
  color: #f57f17; }
  a.main-text.darken-4:hover {
    color: #df6d0a !important; }

.main-text.darken-4 {
  color: #f57f17; }

/*
			 * Dropdown
			 */
.main-dropdown.darken-4 li > a,
.main-dropdown.darken-4 li > span {
  color: #f57f17; }

/*
			 * Backgrounds
			 */
.main.accent-1 {
  background-color: #ffff8d; }

.btn.main.accent-1:hover {
  background-color: #ffffa7; }

.btn.main.accent-1:focus {
  background-color: #ffffa1; }

/*
			 * Texts
			 */
a.main-text.accent-1 {
  color: #ffff8d; }
  a.main-text.accent-1:hover {
    color: #ffff69 !important; }

.main-text.accent-1 {
  color: #ffff8d; }

/*
			 * Dropdown
			 */
.main-dropdown.accent-1 li > a,
.main-dropdown.accent-1 li > span {
  color: #ffff8d; }

/*
			 * Backgrounds
			 */
.main.accent-2 {
  background-color: #ffff00; }

.btn.main.accent-2:hover {
  background-color: #ffff1a; }

.btn.main.accent-2:focus {
  background-color: #ffff14; }

/*
			 * Texts
			 */
a.main-text.accent-2 {
  color: #ffff00; }
  a.main-text.accent-2:hover {
    color: #dbdb00 !important; }

.main-text.accent-2 {
  color: #ffff00; }

/*
			 * Dropdown
			 */
.main-dropdown.accent-2 li > a,
.main-dropdown.accent-2 li > span {
  color: #ffff00; }

/*
			 * Backgrounds
			 */
.main.accent-3 {
  background-color: #ffea00; }

.btn.main.accent-3:hover {
  background-color: #ffec1a; }

.btn.main.accent-3:focus {
  background-color: #ffec14; }

/*
			 * Texts
			 */
a.main-text.accent-3 {
  color: #ffea00; }
  a.main-text.accent-3:hover {
    color: #dbc900 !important; }

.main-text.accent-3 {
  color: #ffea00; }

/*
			 * Dropdown
			 */
.main-dropdown.accent-3 li > a,
.main-dropdown.accent-3 li > span {
  color: #ffea00; }

/*
			 * Backgrounds
			 */
.main.accent-4 {
  background-color: #ffd600; }

.btn.main.accent-4:hover {
  background-color: #ffda1a; }

.btn.main.accent-4:focus {
  background-color: #ffd914; }

/*
			 * Texts
			 */
a.main-text.accent-4 {
  color: #ffd600; }
  a.main-text.accent-4:hover {
    color: #dbb800 !important; }

.main-text.accent-4 {
  color: #ffd600; }

/*
			 * Dropdown
			 */
.main-dropdown.accent-4 li > a,
.main-dropdown.accent-4 li > span {
  color: #ffd600; }

/*
	 * Override Materialize
	 */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffee58;
  box-shadow: 0 1px 0 0 #ffee58; }

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffee58; }

.chips.focus {
  border-bottom: 1px solid #ffee58;
  box-shadow: 0 1px 0 0 #ffee58; }

.input-field .prefix.active {
  color: #ffee58; }

[type="checkbox"]:checked + label:before {
  border-right-color: #ffee58;
  border-bottom-color: #ffee58; }

[type="checkbox"]:indeterminate + label:before {
  border-right: #ffee58; }

[type="checkbox"].filled-in:checked + label:after {
  border-color: #ffee58;
  background-color: #ffee58; }

[type="radio"]:checked + label:after {
  border-color: #ffee58;
  background-color: #ffee58; }

[type="radio"].with-gap:checked + label:before {
  border-color: #ffee58; }

[type="radio"].with-gap:checked + label:after {
  border-color: #ffee58;
  background-color: #ffee58; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: #fff59d; }

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #ffee58; }

input[type=checkbox]:checked:not(:disabled) ~ .lever:active:after {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(255, 238, 88, 0.1); }

input[type=range] + .thumb {
  background-color: #ffee58; }

input[type=range]::-webkit-slider-thumb {
  background-color: #ffee58; }

input[type=range]::-moz-range-thumb {
  background-color: #ffee58; }

input[type=range]::-ms-thumb {
  background-color: #ffee58; }

.noUi-connect {
  background-color: #ffee58 !important; }

.noUi-horizontal .noUi-handle {
  background-color: #ffee58 !important; }

.noUi-target .range-label {
  background-color: #ffee58 !important; }

.collection a.collection-item {
  color: #ffee58 !important; }
  .collection a.collection-item.active {
    background: #ffee58;
    color: white !important; }

.collection .secondary-content {
  color: #ffee58 !important; }

.slider .indicators .indicator-item.active {
  background-color: #ffee58; }

.table-of-contents a:hover, .table-of-contents a.active {
  border-left-color: #ffee58; }

/*
	 * Menu
	 */
nav .nav-wrapper > ul > li > a:focus:before,
nav .nav-wrapper > ul > li > a:hover:before {
  border-bottom-color: #ffeb3b; }

nav .nav-wrapper > ul > li.active > a:before {
  border-bottom-color: #ffeb3b; }

/*
	 * Breadcrumb
	 */
nav .breadcrumb:last-child {
  color: #ffeb3b; }

nav a.breadcrumb:last-child:hover {
  color: #fff06e; }

/*
	 * Content
	 */
.page-header h1 {
  color: #ffee58; }

blockquote {
  border-left-color: #ffeb3b; }

a:not(.btn):not(.btn-large):not(.btn-flat) {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #fff176; }
  a:not(.btn):not(.btn-large):not(.btn-flat):hover {
    color: #ffee5d; }

.main a:not(.btn):not(.btn-large):not(.btn-flat), .alternative a:not(.btn):not(.btn-large):not(.btn-flat) {
  color: white !important; }
  .main a:not(.btn):not(.btn-large):not(.btn-flat):hover, .alternative a:not(.btn):not(.btn-large):not(.btn-flat):hover {
    color: #fffffd !important; }

/*
	 * DataTables
	 */
.dataTables_wrapper .dataTables_length .dropdown-content li > a,
.dataTables_wrapper .dataTables_length .dropdown-content li > span {
  color: #ffeb3b; }

.dataTables_wrapper .dataTables_paginate .current {
  color: #ffee58; }
  .dataTables_wrapper .dataTables_paginate .current:hover {
    color: #ffeb3f; }

/*
	 * Apps - CRUD
	 */
.crud-app table tbody td .btn-flat {
  color: #ffee58; }
  .crud-app table tbody td .btn-flat:hover {
    color: #ffeb3f; }

.crud-app form .input-fileupload .collection-item .progress {
  background-color: transparent; }
  .crud-app form .input-fileupload .collection-item .progress .determinate,
  .crud-app form .input-fileupload .collection-item .progress .indeterminate {
    background-color: #fff59d; }

.select2-dropdown .select2-search--dropdown .select2-search__field:focus:not([readonly]) {
  border-bottom: 1px solid #ffee58 !important; }

/*
	 * Apps - Pricing Table
	 */
.pricing-table-app .panel.panel-bordered {
  border-top-color: #fff176 !important; }

/*
	 * Footer
	 */
footer.page-footer ul > li a:hover,
footer.page-footer .footer-copyright a:hover {
  color: #fff176 !important; }
